/* your code */
table {
	border-collapse: collapse;
	border: 0px;
	border-radius: 30px;
	font-family: arial, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	
}

thead,
tfoot {
	background-color: #215a8e;
	color: white;
	
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
	padding: 10px 40px 10px 40px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: #dddddd;
}